<!-- templates/base.html -->
{% load static %}
<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Django Demo{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <header class="site-header">
      <nav class="nav">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'ticket_list' %}">Tickets</a>
      </nav>
    </header>

    <main class="container">
      {% block content %}{% endblock %}
    </main>

    <footer class="site-footer">
      <small>Sesion 1 - MVT y Templates</small>
    </footer>
  </body>
</html>
